Adafruit-Blinka==7.1.1
Adafruit-GPIO==1.0.3
Adafruit-MCP3008==1.0.2
Adafruit-PlatformDetect==3.22.0
Adafruit-PureIO==1.1.9
coloredlogs==15.0.1
colorzero==2.0
gpiozero==1.6.2
humanfriendly==10.0
paho-mqtt==1.6.1
pi-sht1x==1.0.10
pyftdi==0.54.0
pyserial==3.5
python-dotenv==0.20.0
pyusb==1.2.1
rpi-ws281x==4.3.3
RPi.GPIO==0.7.1
spidev==3.5
sysv-ipc==1.1.0
